{namespace custom=KayStrobach\Custom\ViewHelpers}
<div class="panel panel-default">
    <div class="panel-heading">
        Question
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-8">
                <div class="form-group">
                    <label for="title">
                        <f:translate id="faq_question_title">Title</f:translate>
                    </label>
                    <f:form.textfield property="title" class="form-control" id="title" />
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="expirationDate">
                        <f:translate id="faq_question_expiration">Expiration Date</f:translate>
                    </label>
                    <custom:form.dateTimeTextfield property="expirationDate" dateFormat="d.m.Y H:i" class="form-control" id="expirationDate" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <div class="form-group">
                    <label for="question">
                        <f:translate id="faq_question_question">The question</f:translate>
                    </label>
                    <f:form.textarea property="question" class="form-control" id="question" rows="15"/>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="category">
                        <f:translate id="faq_answer_category">Category</f:translate>
                    </label>
                    <f:form.select property="category" options="{categories}"  id="category" optionLabelField="title" prependOptionLabel="" class="form-control" />
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="roles">
                        <f:translate id="faq_answer_roles">Roles</f:translate>
                    </label>
                    <f:form.select property="roles" options="{roles}"  id="roles" optionLabelField="name" class="form-control" multiple="multiple" size="{roles -> f:count()}"/>
                </div>
            </div>
        </div>
    </div>
</div>

