<f:layout name="Default" />

<f:section name="Title"><f:translate id="faq_title">Frequently asked questions</f:translate></f:section>

<f:section name="Content">
    <f:security.ifAccess privilegeTarget="KayStrobach_Faq_Administration">
        <f:then>
            <f:render partial="Toolbar" arguments="{createCategory:1, createQuestion:1}" />
        </f:then>
    </f:security.ifAccess>


    <h1><f:translate id="faq_title">Frequently asked questions</f:translate></h1>

    <f:if condition="{questions}">
        <f:then>
            <div class="list-group">
                <f:groupedFor each="{questions}" as="groupedQuestions" groupBy="category" groupKey="category">
                    <h2>
                        <f:if condition="{category.title}">
                            <f:then>
                                {category.title}
                            </f:then>
                            <f:else>
                                <f:translate id="faq_no_category_title">Unnamed category</f:translate>
                            </f:else>
                        </f:if>
                    </h2>


                    <f:for each="{groupedQuestions}" as="question">
                        <f:link.action action="show" arguments="{question:question}" class="list-group-item">
                            <h4 class="list-group-item-heading">{question.title}</h4>
                            <p class="list-group-item-text">
                                <f:format.crop maxCharacters="100"><f:format.stripTags>{question.question}</f:format.stripTags></f:format.crop>

                            </p>
                        </f:link.action>
                    </f:for>
                </f:groupedFor>
            </div>
        </f:then>
        <f:else>
            <div class="alert alert-info">
                <f:translate id="faq_no_questions">Sorry, have not found any questions for you.</f:translate>
                <f:translate id="faq_try_later">Please try again later.</f:translate>
            </div>
        </f:else>
    </f:if>
</f:section>