{namespace custom=KayStrobach\Custom\ViewHelpers}
<f:layout name="Default" />

<f:section name="Title"><f:translate id="faq_title">Frequently asked questions</f:translate>: {question.title}</f:section>

<f:section name="Content">
    <f:render partial="Toolbar" arguments="{backAction:'index', backController:'Standard', editQuestion:question}"/>

    <div class="well">
        <h1>
            {question.title}
        </h1>

        {question.question -> custom:format.purifyHtml()}
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">
            <f:translate id="faq_answers">Answers</f:translate>
        </div>
        <div class="panel-body">
            <f:for each="{question.answers}" as="answer" iteration="iteration">
                <f:if condition="{iteration.isFirst}">
                    <f:else>
                        <hr>
                    </f:else>
                </f:if>

                <p>
                    <strong>{answer.title}</strong>
                </p>

                {answer.answer -> custom:format.purifyHtml()}

            </f:for>
        </div>
    </div>



</f:section>